@tailwind base;
@tailwind components;
@tailwind utilities;

.cardStyle {
    background-color:#e2ff99;
    background-image:
    radial-gradient(at 90% 28%, hsla(344,98%,65%,1) 0px, transparent 50%),
    radial-gradient(at 11% 1%, hsla(38,90%,72%,1) 0px, transparent 50%),
    radial-gradient(at 20% 20%, hsla(221,65%,72%,1) 0px, transparent 50%),
    radial-gradient(at 35% 81%, hsla(17,87%,62%,1) 0px, transparent 50%),
    radial-gradient(at 5% 91%, hsla(51,99%,70%,1) 0px, transparent 50%),
    radial-gradient(at 8% 26%, hsla(20,72%,79%,1) 0px, transparent 50%),
    radial-gradient(at 76% 0%, hsla(203,81%,69%,1) 0px, transparent 50%);
}

meter::-webkit-meter-optimum-value {
    background: red;
    border-color: blue;
}
