@tailwind base;
@tailwind components;
@tailwind utilities;

.cardStyle {
    background-color:#99b1ff;
    background-image:
    radial-gradient(at 21% 66%, hsla(167,87%,68%,1) 0px, transparent 50%),
    radial-gradient(at 96% 65%, hsla(356,61%,78%,1) 0px, transparent 50%),
    radial-gradient(at 24% 35%, hsla(314,68%,61%,1) 0px, transparent 50%),
    radial-gradient(at 78% 3%, hsla(197,64%,78%,1) 0px, transparent 50%),
    radial-gradient(at 84% 81%, hsla(295,63%,64%,1) 0px, transparent 50%),
    radial-gradient(at 95% 28%, hsla(31,98%,65%,1) 0px, transparent 50%),
    radial-gradient(at 14% 13%, hsla(247,89%,70%,1) 0px, transparent 50%);
}

meter::-webkit-meter-optimum-value {
    background: red;
    border-color: blue;
}
